@model Candiadate

<div class="display-6">
    Apply
</div>

<form method="post" action="/course/applys">
    <div class="form-goup my-2">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email"/>
    </div>
     <div class="form-goup my-2">
        <label for="">First Name</label>
        <input type="text" class="form-control" name="firstname"/>
    </div>
    <div class="form-goup my-2">
        <label for="">Last Name</label>
        <input type="text" class="form-control" name="lastname"/>
    </div>
    <div class="form-goup my-2">
        <label for="">Age</label>
        <select name="age" class="form-control">
            <option value=" "></option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
        </select>
    </div>
    <fieldset>
        <legend>Select One Course</legend>
        <p>
            <input id="mvc" type="radio" name="SelectedCourse" value="ASP.NET Core MVC" />
            <label for="">ASP.NET Core MVC</label>
        </p>
        <p>
            <input id="blazor" type="radio" name="SelectedCourse" value="BLAZOR" />
            <label for="">BLAZOR</label>
        </p>
    </fieldset>

    <div>
        <button type="submit" class="btn btn-success">Apply</button>
        <a class="btn btn-warning" href="/">Home</a>
    </div>
</form>